/.idea/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/src/.preload.php
/phpunit.xml
/.phpunit.cache/
/.php-cs-fixer.php
/.php-cs-fixer.cache
